{% extends 'base.html.twig' %}

{% block title %}Edit Palier{% endblock %}

{% block body %}
    <h1>Edit Palier</h1>

    {{ include('palier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_palier_index') }}">back to list</a>

    {{ include('palier/_delete_form.html.twig') }}
{% endblock %}
