{% extends 'base.html.twig' %}

{% block title %}New Palier{% endblock %}

{% block body %}
    <div class="container mt-4 text-white">
        <h1 class="text-white">Créer un nouveau palier</h1>

        {{ include('palier/_form.html.twig') }}

        <a href="{{ path('app_palier_index') }}" class="btn btn-secondary mt-3">
            <i class="fas fa-arrow-left"></i> Retour à la liste
        </a>    
</div>

{% endblock %}
