{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/moreeva/Documents/US_Avranches_Symfony/src/Controller/TeamController.php'|file_link(0) }}">src/Controller/TeamController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/moreeva/Documents/US_Avranches_Symfony/templates/team/index.html.twig'|file_link(0) }}">templates/team/index.html.twig</a></code></li>
    </ul>
</div>
    {% for user in users %}
       {% for i in 0..5 %}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ user.firstName }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            {% if i == 5 %}
            <br>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
