{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 col-lg-5 mx-auto d-flex flex-column justify-content-center vh-100 ">
                <h4 class='text-light text-center'> S'il existe un compte correspondant à votre adresse e-mail, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.</h4>
                <h4 class='text-light text-center'> Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}</h4>
                <hr class="my-4">
                <h4 class='text-light text-center'>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou</h4>
                <a class="w-100 btn btn-lg btn-danger"  href="{{ path('app_forgot_password_request') }}">Essayer à nouveau</a>
        </div>
    </div>
{% endblock %}
 