.buttonparam {
  position: fixed; /* Use fixed position for elements fixed to the viewport */
  top: 20px; /* Adjust the top distance from the top of the viewport */
  right: 20px;
  border: none;
  background-color: white;
  color: #212121;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  gap: 10px;
  border-radius: 10px;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
}

.buttonparam span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.buttonparam::before {
  content: "";
  position: absolute;
  background-color: #171D4A;
  width: 100%;
  height: 100%;
  left: 0%;
  bottom: 0%;
  transform: translate(-100%, 100%);
  border-radius: inherit;
}

.buttonparam svg {
  fill: #171D4A;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.buttonparam:hover::before {
  animation: shakeBack 0.6s forwards;
}

.buttonparam:hover svg {
  fill: white;
  scale: 1.3;
}

.buttonparam:active {
  box-shadow: none;
}

@keyframes shakeBack {
  0% {
    transform: translate(-100%, 100%);
  }

  50% {
    transform: translate(20%, -20%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}
