
/* Fond bouton de selection (base de la page) */
td {
    background-color: #6382fc;
    width: 16em;
    max-width: 16em;
    height: 7em;
}

/* Div des bouton de selection (base de la page) */
.poste{
    margin: 5px;
    padding: 1%;
    color: white;
    font-size: 1.5vw;
    font-size: min(2px);
    font-size: max(14px);
}

/* Div de l'image + boutons du terrain */
.terrain {
    position: relative;
    display: inline-block;
    z-index: 1;
}

/* Image du terrain */
.terrain img {
    max-width: 82%;
}

/* Bouton de selection (base de la page) */
.poste-selec-button {
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #4f81bd;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #FFFFFF;
}

.poste-selec-button:hover {
    padding: 10px;
    font-size: 1.1em;
}

/* Bouton du terrain */
.poste-button {
    position: absolute;
    text-decoration: none;
    padding: 3px;
    font-family: arial;
    font-size: 0.8em;
    color: #FFFFFF;
    background-color: #4f81bd;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 2px outset #FFFFFF;
    box-shadow: 1px 1px 7px #444444;
    -webkit-box-shadow: 1px 1px 7px #444444;
    -moz-box-shadow: 1px 1px 7px #444444;
}

.poste-button:hover{
    padding: 3px;
    border: 2px inset #FFFFFF;
    box-shadow: 1px 1px 7px #3f3f3f;
    -webkit-box-shadow: 1px 1px 7px #3f3f3f;
    -moz-box-shadow: 1px 1px 7px #3f3f3f;
}

/* Position de chaque bouton du terrain */
#gardien {
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
}

#defenseurg {
    transform: translate(-50%, -50%);
    top: 70%;
    left: 30%;
}

#defenseurd {
    transform: translate(-50%, -50%);
    top: 70%;
    left: 69%;
}

#milieug {
    transform: translate(-50%, -50%);
    top: 48.3%;
    left: 20%;
}

#milieuoff {
    transform: translate(-50%, -50%);
    top: 41%;
    left: 57%;
}

#milieudef {
    transform: translate(-50%, -50%);
    top: 58%;
    left: 40%;
}

#milieud {
    transform: translate(-50%, -50%);
    top: 48.3%;
    left: 80%;
}

#attaquant {
    transform: translate(-50%, -50%);
    top: 29%;
    left: 45%;
}

