
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(33,33,83);
    background: linear-gradient(90deg, rgba(33,33,83,1) 0%, rgba(13,82,139,1) 35%, rgba(22,61,116,1) 100%);
}

td {
    background-color: #6382fc;
    width: 16em;
    max-width: 16em;
    height: 7em;
}

.poste{
    margin: 5px;
    padding: 1%;
    color: white;
    /* font-size: 0.85vw;
    font-size: min(2px);
    font-size: max(12px); */
    font-size: 1.5vw;
    font-size: min(2px);
    font-size: max(14px);
}

.terrain {
    position: relative;
    display: inline-block;
}

.terrain img {
    max-width: 82%;
}

.poste-selec-button {
    background-color: #6382fc;
    color: #fff;
    width: 8.5em;
    height: 2.9em;
    border: #3654ff 0.2em solid;
    border-radius: 11px;
    text-align: center;
    transition: all 0.6s ease;
    font-size: 0.8vw;
    font-size: min(2px);
    font-size: max(12px);
}

.poste-selec-button:hover {
    background-color: #3654ff;
    cursor: pointer;
}

.poste-button {
    position: absolute;
    background-color: #6382fc;
    border: #3654ff 0.2em solid;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 7px;
    transition: all 0.6s ease;
    font-size: 1.5vw;
    font-size: min(2px);
    font-size: max(12px);
}

.poste-button:hover{
    background-color: #3654ff;
}

#gardien {
    top: 93%;
    left: 44%;
}

#defenseurg {
    top: 80%;
    left: 16%;
}
#defenseurd {
    top: 80%;
    left: 64%;
}

#milieug {
    top: 48.3%;
    left: 15%;
}
#milieuoff {
    top: 38%;
    left: 41%;
}
#milieudef {
    top: 59%;
    left: 41%;
}
#milieud {
    top: 48.3%;
    left: 68.5%;
}

#attaquant {
    top: 26%;
    left: 44%;
}
