
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(33,33,83);
    background: linear-gradient(90deg, rgba(33,33,83,1) 0%, rgba(13,82,139,1) 35%, rgba(22,61,116,1) 100%);
}

/* Fond bouton de selection (base de la page) */
td {
    background-color: #6382fc;
    width: 16em;
    max-width: 16em;
    height: 7em;
}

/* Div des bouton de selection (base de la page) */
.poste{
    margin: 5px;
    padding: 1%;
    color: white;
    font-size: 1.5vw;
    font-size: min(2px);
    font-size: max(14px);
}

/* Div de l'image + boutons du terrain */
.terrain {
    position: relative;
    display: inline-block;
    z-index: 1;
}

/* Image du terrain */
.terrain img {
    max-width: 82%;
}

/* Bouton de selection (base de la page) */
.poste-selec-button {
    background-color: #6382fc;
    color: #fff;
    width: 8.5em;
    height: 2.9em;
    border: #3654ff 0.2em solid;
    border-radius: 11px;
    text-align: center;
    transition: all 0.6s ease;
    font-size: 0.8vw;
    font-size: min(2px);
    font-size: max(12px);
}

.poste-selec-button:hover {
    background-color: #3654ff;
    cursor: pointer;
}

/* Bouton du terrain */
.poste-button {
    position: absolute;
    background-color: #6382fc;
    border: #3654ff 0.2em solid;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 7px;
    transition: all 0.6s ease;
    font-size: 1.5vw;
    font-size: min(2px);
    font-size: max(12px);
}

.poste-button:hover{
    background-color: #3654ff;
}

/* Position de chaque bouton du terrain */
#gardien { /* Gardien */
    top: 78%;
    left: 45%;
}

#defenseurg { /* Defenseur gauche */
    top: 70%;
    left: 21%;
}
#defenseurd { /* Defenseur droit */
    top: 70%;
    left: 62%;
}

#milieug { /* Milieu guache */
    top: 48.3%;
    left: 15%;
}
#milieuoff { /* Milieu offensif */
    top: 41%;
    left: 52%;
}
#milieudef { /* Milieu defensif */
    top: 55%;
    left: 35%;
}
#milieud { /* Milieu droit */
    top: 48.3%;
    left: 72%;
}

#attaquant { /* Attaquant */
    top: 29%;
    left: 42%;
}

