body {
    background-color: #15172b;
    border-radius: 20px;
    height: auto;
    padding: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
    position: relative;
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 80px;
}

.iLabel {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .cut,
.input.has-value ~ .cut {
    transform: translateY(8px);
}

.input:focus ~ .iLabel,
.input.has-value ~ .iLabel {
    transform: translateY(-30px) translateX(10px) scale(0.75);
    color: #dc2f55;
}

.input:not(:focus) ~ .iLabel {
    color: #808097;
}

.input.has-value {
    background-color: #08d;
}

.input.has-value::placeholder {
    color: red;
    background-color: blue;
}

/* Envoi */
.buttonsend {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}
.button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px; /* Ajoutez une marge inférieure pour éviter que le bouton ne soit collé au bord */
}

.buttonsend span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}
.narrow-button {
    width: 200px; /* Définissez une largeur spécifique pour le bouton */
}
.buttonsend svg {
    vertical-align: middle;
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.buttonsend:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.buttonsend:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.buttonsend:hover span {
    transform: translateX(40em);
}

.buttonsend:active {
    transform: scale(0.3);
}

@keyframes fly-1 {
from {
    transform: translateY(0.1em);
}

to {
    transform: translateY(-0.3em);
}
}

.drop-container {
    background-color: #fff;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 2.1875rem;
    border-radius: 10px;
    border: 2px dashed rgb(171, 202, 255);
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: rgba(0, 140, 255, 0.164);
    border-color: rgba(17, 17, 17, 0.616);
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

#file-input {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
}

#file-input::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

#file-input::file-selector-button:hover {
    background: #0d45a5;
}