body {
  background-color: #f4f4f4;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.cards .card {
  flex-basis: calc(33.33% - 30px);
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 250px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.1s;
  cursor: pointer;
  position: relative;
}

.cards .card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: 3px solid #333;
}

.cards .card p {
  flex: 1; /* Pour centrer verticalement le texte dans la carte */
}

.cards .card p.tip {
  font-size: 1.2em;
  font-weight: 600;
  color: #333;
  margin: 10px 0;
}

.cards .card p.second-text {
  font-size: 0.9em;
  color: #666;
}

.cards .card.green {
  background-color: #ccc;
  color: #fff;
}

/* Style pour les boutons d'édition et de suppression */
.button-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.button-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* Ajouter un style pour le bouton de fermeture */
.close-btn {
  color: red;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  float: right;
}

.cards .card .test-owner {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  font-size: 12px;
  color: #1a0af8;
}