
body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligne verticalement au centre */
  align-items: center;
  min-height: 100vh; /* Assure que le formulaire est centré sur toute la hauteur de la page */
}

/* Centrez le formulaire */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligne verticalement au centre */

  align-items: center;
  gap: 10px;
  text-align: center;
  max-width: 400px;
  max-height: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #3b82f6;
  border-radius: 10px;
  background-color: #f0f5ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style général pour le formulaire */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #3b82f6;
  border-radius: 10px;
  background-color: #f0f5ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style pour les étiquettes (labels) */
.form-label {
  font-weight: bold;
}

/* Style pour les champs de texte */
.form-input {
  padding: 10px;
  border: 1px solid #3b82f6;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #216fd9;
}

/* Style pour les boutons */
.form-button {
  background-color: #3b82f6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #216fd9;
}

/* Style pour les messages d'erreur */
.error-message {
  color: #f43f5e;
  font-size: 0.8em;
  margin-top: 5px;
}

/* Style pour les messages de succès */
.success-message {
  color: #22c55e;
  font-size: 0.8em;
  margin-top: 5px;
}
