{% extends 'base.html.twig' %}

{% block title %}Edit Nationality{% endblock %}

{% block body %}
    <h1>Edit Nationality</h1>

    {{ include('nationality/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
