{% extends 'base.html.twig' %}

{% block title %}Nouvelle nationalité{% endblock %}

{% block body %}

    {{ include('nationality/_form.html.twig') }}

    {# <a href="{{ path('app_nationality_index') }}">back to list</a> #}
{% endblock %}
