{% extends 'base.html.twig' %}

{% block title %}Page des rassemblements
{% endblock %}

{% block body %}
	<div class="col-lg-8 mx-auto p-5 py-md-5">
		<div class="mt-3 text-center">
			<h1 class="h1 mb-2 display-4 text-white">Page des rassemblements</h1>
		</div>

		<div class="row row-cols-1 row-cols-md-4 g-4 pt-5">
			{% for gathering in gatherings %}
			{# add div class row et gutter gx-4#}
				<div class="card m-2">
					<div class="card-header">
						Rassemblement n°{{ gathering.id }}
					</div>
					<div class="card-body">
						<h5 class="card-title">Le
							{{ gathering.gatheringDate|date('d/m/Y') }}</h5>
						<p class="card-text">à
							{{ gathering.gatheringDate|date('H:i')|replace({':': 'h'}) }}</p>
						<a href="/rassemblement/{{ gathering.id }}" class="btn btn-primary">Voir</a>
					</div>
				</div>
			{% else %}
				<div class="text-white">Il n'y a aucun rassemblement !</div>
			{% endfor %}
		</div>
		
		<div class="g-4 pt-5">
			<div class="col text-center" style="text-align: start;">
				<a href="/" class="btn btn-secondary">
					<i class="fa-solid fa-house"></i>
					Accueil</a>
			</div>
		</div>
	</div>
{% endblock %}

