{% extends 'base.html.twig' %}

{% block title %}Hello AdminIndexController!{% endblock %}

{% block body %}
              <link href="/css/nav2.css" rel="stylesheet" />
          <link href="/css/nav3.css" rel="stylesheet" />
            <main class="site-wrapper">
            <div class="pt-table desktop-768">
                <div class="pt-tablecell page-home relative" style="background-image: path('images/joueur.jpg');
                    background-position: center;
                    background-size: cover;">
                                  <div class="container">
                                      <div class="row">
                                          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                              <div class="hexagon-menu clear">
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href='/playercode/1/edit'>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-universal-access"></i>
                                                              </span>
                                                              <span class="title">Code Vérification joueur</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href='/appel'>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-bullseye"></i>
                                                              </span>
                                                              <span class="title">Appel</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href='/categorie'>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-braille"></i>
                                                              </span>
                                                              <span class="title">Catégorie</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>    
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href='excel'>
                                                          <span class="hex-content-inner" >
                                                              <span class="icon">
                                                                  <i class="fa fa-id-badge"></i>
                                                              </span>
                                                              <span class="title">Excel</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href='/rassemblement'>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-life-ring"></i>
                                                              </span>
                                                              <span class="title">Rassemblement</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href='/player'>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-clipboard"></i>
                                                              </span>
                                                              <span class="title">Joueurs</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href='/user/{{ app.user.getId()}}/edit'>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-map-signs"></i>
                                                              </span>
                                                              <span class="title">Paramètres</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                      
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
{% endblock %}
