{% block title %}Login{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    
    <style>
        html {
        height: 100%;
        }
        body {
        margin:0;
        padding:0;
        font-family: sans-serif;
        background: linear-gradient(#30142b, #a12727);
        }

        .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
        }

        .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
        }

        .login-box .user-box {
        position: relative;
        }

        .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
        }
        .login-box .user-box label {
        position: absolute;
        top:0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
        }

        .login-box .user-box input:focus ~ label,
        .login-box .user-box input:valid ~ label {
        top: -20px;
        left: 0;
        color: #f68e44;
        font-size: 12px;
        }

                 form a {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #b79726;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px
        }

         a:hover {
        background: rgb(255, 135, 0);
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px rgb(255, 135, 0),
                    0 0 25px rgb(255, 135, 0),
                    0 0 50px rgb(255, 135, 0),
                    0 0 100px rgb(255, 135, 0);
        }

         a span {
        position: absolute;
        display: block;
        }

         a span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, rgb(255, 135, 0));
        animation: btn-anim1 1s linear infinite;
        }


         a span:nth-child(2) {
        top: +100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, rgb(255, 135, 0));
        animation: btn-anim2 1s linear infinite;
        animation-delay: .25s
        }

         a span:nth-child(3) {
        bottom: 0;
        right: +100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, rgb(255, 135, 0));
        animation: btn-anim3 1s linear infinite;
        animation-delay: .5s
        }

         a span:nth-child(4) {
        bottom: +100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, rgb(255, 135, 0));
        animation: btn-anim4 1s linear infinite;
        animation-delay: .75s
        }

        .transparent-a {
        background-color: transparent;
        border: none;
        color: #000; /* Couleur du texte */
        /* Ajoutez d'autres propriétés de style selon vos besoins */
        }

        .login-box form button {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: rgb(58, 150, 0);
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px
        }

        .login-box button:hover {
        background: rgb(58, 150, 0);
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px rgb(58, 150, 0),
                    0 0 25px rgb(58, 150, 0),
                    0 0 50px rgb(58, 150, 0),
                    0 0 100px rgb(58, 150, 0);
        }

        .login-box button span {
        position: absolute;
        display: block;
        }

        .login-box button span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, rgb(58, 150, 0));
        animation: btn-anim1 1s linear infinite;
        }

        @keyframes btn-anim1 {
        0% {
            left: -100%;
        }
        50%,100% {
            left: 100%;
        }
        }

        .login-box button span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, rgb(58, 150, 0));
        animation: btn-anim2 1s linear infinite;
        animation-delay: .25s
        }

        @keyframes btn-anim2 {
        0% {
            top: -100%;
        }
        50%,100% {
            top: 100%;
        }
        }

        .login-box button span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, rgb(58, 150, 0));
        animation: btn-anim3 1s linear infinite;
        animation-delay: .5s
        }

        @keyframes btn-anim3 {
        0% {
            right: -100%;
        }
        50%,100% {
            right: 100%;
        }
        }

        .login-box button span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, rgb(58, 150, 0));
        animation: btn-anim4 1s linear infinite;
        animation-delay: .75s
        }

        @keyframes btn-anim4 {
        0% {
            bottom: -100%;
        }
        50%,100% {
            bottom: 100%;
        }
        }

        .transparent-button {
        background-color: transparent;
        border: none;
        color: #000; /* Couleur du texte */
        /* Ajoutez d'autres propriétés de style selon vos besoins */
        }

    </style>

    <div class="login-box">
        <h2>Connexion</h2>
        <form action="{{ path('app_login') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="user-box">
                <input type="text" class="form-control" id="username" name="_username" placeholder="name@example.com" value="{{ last_username }}">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" class="form-control" id="password" placeholder="******" name="_password">
                <label>Password</label>
            </div>
            <button align=""class="transparent-button" type="submit" >                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Connexion Administrateur
            </button>
            <br>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <p align='center'>Retour sur la page d'accueil</p>
            </a>

        </form>
  </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var submitButton = document.getElementById('submit-button');
        submitButton.addEventListener('click', function(e) {
            e.preventDefault(); // Empêche le comportement par défaut du lien

            // Effectuez l'action souhaitée ici, par exemple, soumettez un formulaire
            document.getElementById('my-form').submit();
        });
        });
    </script>
{% endblock %}