{% extends 'base.html.twig' %}

{% block title %}New Charts{% endblock %}

{% block body %}
    <h1>Create new Charts</h1>

    {{ include('charts/_form.html.twig') }}

    <a href="{{ path('app_charts_index') }}">back to list</a>
{% endblock %}
