{% extends 'base.html.twig' %}

{% block title %}New ChartConfiguration{% endblock %}

{% block body %}
    <h1>Create new ChartConfiguration</h1>

    {{ include('charts/_form.html.twig') }}

    <a href="{{ path('app_charts_index') }}">back to list</a>
{% endblock %}
