{% extends 'base.html.twig' %}

{% block title %}Edit Charts{% endblock %}

{% block body %}
    <h1>Edit Charts</h1>

    {{ include('charts/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_charts_index') }}">back to list</a>

    {{ include('charts/_delete_form.html.twig') }}
{% endblock %}
