{% extends 'base.html.twig' %}

{% block title %}Edit Charts{% endblock %}

{% block body %}
    <!--
        =========================================================
        * Material Dashboard 2 - v3.1.0
        =========================================================

        * Product Page: https://www.creative-tim.com/product/material-dashboard
        * Copyright 2023 Creative Tim (https://www.creative-tim.com)
        * Licensed under MIT (https://www.creative-tim.com/license)
        * Coded by Creative Tim

        =========================================================

        * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
        -->
    <h1>Edit Charts</h1>

    {{ include('charts/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_charts_index') }}">back to list</a>

    {{ include('charts/_delete_form.html.twig') }}
{% endblock %}
