{% extends 'base.html.twig' %}

{% block title %}Edit PlayerCode{% endblock %}

{% block body %}
    <h1>Edit PlayerCode</h1>

    {{ include('player_code/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}
