{% extends 'base.html.twig' %}


{% block body %}
<link rel="stylesheet" href="/css/PlayerCode.css">
    <div class="center-container">
        {% for player_code in player_codes %}
            <button class='buttoncode' onClick='redirectToPage("{{ path('app_player_code_edit', {'id': player_code.id}) }}")'>
                <div class="text">
                    <span>Voir</span>
                    <span>le</span>
                    <span>code</span>
                </div>
                <div class="clone">
                    <span>{{ player_code.code }}</span>

                </div>
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </button>
        {%endfor%}
    </div>

    <a href="">Create new</a>
{% endblock %}
