{% extends 'base.html.twig' %}

{% block title %}New PlayerCode{% endblock %}

{% block body %}
    <h1>Create new PlayerCode</h1>

    {{ include('player_code/_form.html.twig') }}

    <a href="{{ path('app_player_code_index') }}">back to list</a>
{% endblock %}
