    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
      <link rel="icon" type="image/png" href="/images/logo.png">
      <title>
        CU - US Avranches
      </title>
    </head>

{% block stylesheets %}
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css">
        <link rel="stylesheet" href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css">
        <link rel="stylesheet" href="/assets/css/form.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
        <link rel="stylesheet" href="/assets/css/theme.css">
        <link rel="stylesheet" href="/assets/css/loopple/loopple.css">
        <link rel="stylesheet" href="bootstrap/css/styles.css">
        <link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />
        <link rel="stylesheet" href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css">
        <link rel="stylesheet" href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
        <link rel="stylesheet" href="/assets/css/theme.css">
        <link rel="stylesheet" href="/assets/css/loopple/loopple.css">
          <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
          <!-- Nucleo Icons -->
          <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
          <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />

          <!-- Material Icons -->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
          <!-- CSS Files -->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
          <link rel="stylesheet" href="bootstrap/css/styles.css">
          <link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />

        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
            <script src="https://kit.fontawesome.com/62ccc46a5c.js" crossorigin="anonymous"></script>
            <!-- Font Awesome Icons -->
            <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Conditions d'utilisation US Avranches</h1>

    <h4>Bienvenue sur US Avranches, une plateforme dédiée à la gestion et la facilitation du travail au sein du club US Avranches. L'utilisation de nos services est soumise aux conditions suivantes. En accédant et en utilisant US Avranches, vous acceptez ces conditions dans leur intégralité.<br></h4>
    <br>
    <h2>Acceptation des Conditions:<br></h2>
    En utilisant US Avranches, vous confirmez avoir lu, compris et accepté les présentes conditions d'utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre site.
    <br><br>
    <h2>Collecte d'Informations:<br></h2>
    En utilisant US Avranches, vous consentez à la collecte et à l'utilisation de certaines informations personnelles conformément à notre politique de confidentialité. Les informations collectées peuvent inclure, mais ne sont pas limitées à :
    <br>
    <ul>
        <li>Adresse e-mail</li>
        <li>Nom d'utilisateur</li>
        <li>Image de profil</li>
        <li>Date de connexion</li>
    </ul>
    <br>
    <h2>Utilisation des Informations:</h2>
    Nous recueillons ces informations dans le but de faciliter l'utilisation de US Avranches. Les informations peuvent être utilisées, entre autres, pour :<br>
    <br>
    <ul>
        <li>Personnaliser votre expérience sur le site</li>
        <li>Vous identifier de manière unique</li>
        <li>Améliorer nos services</li>
        <li>Vous informer des mises à jour, promotions ou annonces importantes</li>
        <li>Sécurité des Informations</li>
    </ul>
    Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations personnelles. Cependant, aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sûre, et nous ne pouvons garantir la sécurité absolue des données.<br>
    <br>
    <h2>Conservation des Informations:<br></h2>
    Nous conservons vos informations aussi longtemps que nécessaire pour atteindre les objectifs pour lesquels elles ont été collectées, à moins qu'une période de conservation plus longue ne soit nécessaire en vertu de la loi applicable.<br>
    <br>
    <h2>Cookies et Technologies Similaires:<br></h2>
    En utilisant US Avranches, vous consentez à l'utilisation de cookies et de technologies similaires conformément à notre politique en matière de cookies. Ces technologies nous aident à améliorer votre expérience sur le site.<br>
    <br>
    <h2>Modification des Conditions:<br></h2>
    Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment. Les modifications prendront effet dès leur publication sur le site. Il est de votre responsabilité de vérifier régulièrement les mises à jour.<br>
    <br>
    <h2>Résiliation d'Utilisation:<br></h2>
    Nous nous réservons le droit de résilier ou de suspendre votre accès à US Avranches en cas de violation des présentes conditions d'utilisation ou de toute autre politique applicable.<br>
    <br>
    <h2>Contact:<br></h2>
    Pour toute question ou préoccupation concernant ces conditions d'utilisation, veuillez nous contacter à l'adresse suivante : [Adresse de Contact].<br>
    <br>
    En utilisant US Avranches, vous acceptez les conditions énoncées ci-dessus. Merci de votre confiance et de votre collaboration.<br>
    <br>
    Dernière mise à jour : 16/02/2024.<br>
</div>
<div class='text-center'>
    <a class="btn btn-warning" href="/register">Retourner à l'inscription</a>
    <a class="btn btn-success" href="/login">Retourner à la connexion</a>
</div>
{% endblock %}
