<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="images\logo.svg" sizes="any" type="image/svg+xml">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
          {# <link href="/css/tests.css" rel="stylesheet" /> #}
          <link href="/css/navbar.css" rel="stylesheet" />
          <link href="/css/pagebase.css" rel="stylesheet" />
          <link href="/css/nav2.css" rel="stylesheet" />
          <link href="/css/hello.css" rel="stylesheet" />
          {{ encore_entry_link_tags('app') }}
          <!--Styles.css-->
			    <link rel="stylesheet" href="/css/bootstrap.css">
        {% endblock %}

        {% block javascripts %}
        <script type="text/javascript" src="/js/redirect.js"></script>
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    
    {% block body %}
    <body>
        {# <div class='container'>
        <button class='button-nav'> Tableau de bord</button>
        </div> #}

        <div class="hamburger-menu">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btnbht" for="menu__toggle">
      <span></span>
    </label>
    <ul class="menu__box">
      <li><a class="menu__item" href="/">Tableau de bord</a></li>
      <li><a class="menu__item" href="/appel">Faire l'appel</a></li>
      <li><a class="menu__item" href="#">Liste des joueurs</a></li>
      <li><a class="menu__item" href="/tests">Les Tests</a></li>
      <li><a class="menu__item" href="#">Supertests</a></li>
      <li><a class="menu__item" href="#">#</a></li>
    </ul>
  </div>
   <div class='containerbtnbht'>

   {% if app.user %}
        <button data-text="Awesome" class="buttonh">
            <span class="actual-text">&nbsp;Bienvenue {{ app.user.getFirstName() }}&nbsp;</span>
            <span class="hover-text" aria-hidden="true">&nbsp;Bienvenue&nbsp;</span>
        </button>
    {% endif %}
          <div class="btnbht-group">
            <button class="btnbht" {#onClick='redirectToPage/)'#}>Statistiques</button>
            <button class="btnbht">Matchs</button>
          </div>
          <div class="btnbht-group">
            <button class="btnbht">Absences</button>
            <button class="btnbht" onClick='redirectToPage("/team")'>Mon équipe</button>
          </div>
          <div class="btnbht-group">
            <button class="btnbht">Paramètres</button>
            <button class="btnbht" onClick='redirectToPage("/pdf")'>Fiche PDF</button>
          </div>
          <div class="btnbht-group">
            <button class="btnbht" onClick='redirectToPage("/tests")'>Les Tests</button>
          </div>
        </div>
  {% endblock %}
       
    </body>
</html>
