<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="images\logo.svg" sizes="any" type="image/svg+xml">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {# <link href="/css/tests.css" rel="stylesheet" /> #}
        <link href="/css/navbar.css" rel="stylesheet" />
        <link href="/css/pagebase.css" rel="stylesheet" />
            {{ encore_entry_link_tags('app') }}
            <!--Styles.css-->
			<link
			rel="stylesheet" href="/css/bootstrap.css">
        {% endblock %}

        {% block javascripts %}
        <script type="text/javascript" src="/js/tests.js"></script>
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    {% block body %}
    <body>
        {# <div class='container'>
        <button class='button-nav'> Tableau de bord</button>
        </div> #}

        <div class="hamburger-menu">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
      <span></span>
    </label>

    <ul class="menu__box">
      <li><a class="menu__item" href="#">Tableau de bord</a></li>
      <li><a class="menu__item" href="#">Faire l'appel</a></li>
      <li><a class="menu__item" href="#">Liste des joueurs</a></li>
      <li><a class="menu__item" href="#">Les Tests</a></li>
      <li><a class="menu__item" href="#">Supertests</a></li>
      <li><a class="menu__item" href="#">#</a></li>
    </ul>
  </div>

  <button class="button">
  <span>
    <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.145 18.29c-5.042 0-9.145-4.102-9.145-9.145s4.103-9.145 9.145-9.145 9.145 4.103 9.145 9.145-4.102 9.145-9.145 9.145zm0-15.167c-3.321 0-6.022 2.702-6.022 6.022s2.702 6.022 6.022 6.022 6.023-2.702 6.023-6.022-2.702-6.022-6.023-6.022zm9.263 12.443c-.817 1.176-1.852 2.188-3.046 2.981l5.452 5.453 3.014-3.013-5.42-5.421z"></path></svg>
  </span>
</button>
  {% endblock %}
          {% if app.user %}
            {{ app.user.getCategory() }}
        {% endif %}
    </body>
</html>
