{# templates/product/list.html.twig #}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ tests.name }}</td>
                <td>
                    <a href="{{ path('edit_tests', { 'id': tests.id }) }}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
