{% extends 'base.html.twig' %}

{% block title %}New Tests{% endblock %}

{% block body %}
    <h1>Create new Tests</h1>

    {{ include('tests/_form.html.twig') }}

    <a href="{{ path('app_tests_index') }}">back to list</a>
{% endblock %}
