{# templates/pdf/list_players.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Liste des joueurs</title>
</head>
<body>
    <h1>Liste des joueurs</h1>
    <ul>
        {% for player in players %}
            <li>
                {{ player.firstName }} {{ player.lastName }}
                {% if player.getProfileImage() %}
                    <img src="{{ asset(player.getProfileImage()) }}" alt="Photo de profil">
                {% endif %}
                <a href="/pdf/{{ player.id }}">Voir PDF</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
