{% extends 'base.html.twig' %}

{% block title %}
	Choix -
	{{ category|upper }}
{% endblock %}

{% block body %}
	<link href="/css/attendance.css" rel="stylesheet"/>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<style>
		.btn-entrainement {
			--bs-btn-color: #fff;
			--bs-btn-bg: #5b9ad4;
			--bs-btn-border-color: #5b9ad4;
			--bs-btn-hover-color: #fff;
			--bs-btn-hover-bg: #4d82b4;
			--bs-btn-hover-border-color: #4d82b4;
			--bs-btn-focus-shadow-rgb: 49, 132, 253;
			--bs-btn-active-color: #fff;
			--bs-btn-active-bg: #4d82b4;
			--bs-btn-active-border-color: #4d82b4;
			--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
			--bs-btn-disabled-color: #fff;
			--bs-btn-disabled-bg: #5b9ad4;
			--bs-btn-disabled-border-color: #5b9ad4;
		}


		.btn-match {
			--bs-btn-color: #fff;
			--bs-btn-bg: #92d050;
			--bs-btn-border-color: #92d050;
			--bs-btn-hover-color: #fff;
			--bs-btn-hover-bg: #7bb043;
			--bs-btn-hover-border-color: #7bb043;
			--bs-btn-focus-shadow-rgb: 60, 153, 110;
			--bs-btn-active-color: #fff;
			--bs-btn-active-bg: #7bb043;
			--bs-btn-active-border-color: #7bb043;
			--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
			--bs-btn-disabled-color: #fff;
			--bs-btn-disabled-bg: #92d050;
			--bs-btn-disabled-border-color: #92d050;
		}
	</style>

	<div class="col-lg-8 mx-auto p-5 py-md-5">
		<div class="container-fluid pt-3">
			<div class="row removable">
				<div class="col-lg-12">
					<div class="card mb-4 h-100">
						<div class="card-body p-3">
							<div class="mt-3 text-center">
								<h1 class="h1 mb-2 display-4">Choix - {{ category|upper }}</h1>
							</div>

							<div class="text-center d-grid col-xl-4 col-md-6 mx-auto mt-5 mb-5">
								<a href="/appel/entraînement/{{ category }}" class="btn btn-entrainement">Entraînement</a>
								<a href="/appel/match/{{ category }}" class="btn btn-match">Match</a>
								<a href="/" class="btn btn-info mt-5" value="Match">
									<i class="fa-solid fa-house"></i>
									Accueil</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

