{% extends 'base.html.twig' %}

{% block title %}Modification de l'équipe "{{ equipe.name }}"
{% endblock %}

{% block body %}
    {{ include('equipe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_equipe_index') }}">back to list</a>

    {{ include('equipe/_delete_form.html.twig') }}
{% endblock %}
