{% extends 'base.html.twig' %}

{% block title %}Création d'une équipe
{% endblock %}

{% block body %}
	<h1>Création d'une nouvelle équipe</h1>

	{{ include('equipe/_form.html.twig', {'button_label': 'Créer'}) }}
{% endblock %}

