{% extends 'base.html.twig' %}

{% block title %}New Equipe{% endblock %}

{% block body %}
    <h1>Create new Equipe</h1>

    {{ include('equipe/_form.html.twig') }}

    <a href="{{ path('app_equipe_index') }}">back to list</a>
{% endblock %}
