{% extends 'base.html.twig' %}

{% block title %}Création d'une équipe
{% endblock %}

{% block body %}
	<h1>Create new Equipe</h1>

	{{ include('equipe/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

{% endblock %}

