<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce palier ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    	<button class="btn btn-danger mt-2">
		<i class="fa-solid fa-trash-can"></i>
		Supprimer</button>
</form>
